body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f0f5f9;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.printbtn {
  display: flex;
}

.pbtn1 {
  margin-right: 10px;
}

.pbtn2 {
  margin-left: 10px;
}

h1 {
  text-align: center;
  margin: 20px;
  color: #0073e6;
  font-size: 30px;
  font-weight: 900;
}

.form {
  text-align: center;
  margin-bottom: 20px;
}

form label,
form input,
form button {
  display: block;
  margin: 10px auto;
  width: 100%;
}

/* Adjust input field width for responsiveness */
input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px; /* Change width to 100% for full-width responsiveness */
  margin: 10px 0; /* Adjust margin for spacing */
}

button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #005bb8;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  background-color: #e9e9e9;
}

th {
  background-color: #0073e6;
  color: white;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* Clear floats after modal content */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Center the prompt input */
#promptQuantity {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* Style for deleted products */
tr.deleted {
  text-decoration: line-through;
  color: #999;
}

/* Style for products with zero quantity */
tr.zero-quantity {
  background-color: #ffcccc;
  color: #d11a1a;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 20px; /* Adjust padding for better spacing */
  }

  form label,
  form input,
  form button {
    margin: 10px auto; /* Adjust margin for better spacing */
  }

  input[type="text"],
  input[type="number"],
  input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 10px 0;
  }

  button {
    padding: 10px 15px; /* Adjust padding for better spacing */
  }

  table {
    font-size: 14px;
  }
}

.stockout {
  margin-top: 100px;
}

/* Add styles for the "Edit" and "Delete" buttons */
.edit-quantity {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}
.edit-quantity:hover {
  background-color: #919191;
  color: #002701;
}

.delete-product {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}
.delete-product:hover {
  background-color: #919191;
  color: #002701;
}
.totalamount {
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  padding: 20px;
}

/* Style for the product image */
.image-cell img {
  align-items: center;
  max-width: 50px; /* Adjust the maximum width as needed */
  max-height: 50px; /* Adjust the maximum height as needed */
  border: 1px solid #ccc; /* Add a border */
  background-color: #f0f0f0; /* Background color for the image container */
  color: #777; /* Text color for the placeholder */
  text-align: center; /* Center the text horizontally */
  padding: 5px; /* Add padding to the image container */
}

/* Style for the product image when an image is provided */
.image-cell img[src]:not([src=""]) {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
}
.uploadimage {
  background-color: #0073e6;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
}
